# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules

# production
/frontend/build

# ignore cache files

/backend/backend/__pycache__
/backend/search/api/__pycache__
